.home {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.home article {
  /* margin-bottom: 30px;
    padding-right: 20%;*/
  padding-top: 20%;

  text-align: center;
}


.get-started {
  display: inline-block;
  padding: 8px 8px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color:  #292e74;
  border: none;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  transition: all 0.2s ease-in-out;
  margin: auto;
}

.get-started:hover {
  transform: scale(1.15);
}

.pair-logo{
 
width: 70%;
height: 60%;
}

.mke-chge {
  border-radius: 20%;
  height: 60%;
  width: 60%;
}

.profit-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.profit-item {
    text-align: center;
    padding-top: 2%;
}
.profit-item h2{
  padding-left: 10%;
  color:#073aa4ff;
  max-width: 40%;
}

.profit-item h3{
  padding: 0px;
  color:#073aa4ff;
  max-width: 40%;
}

.dev {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: large;
    padding-left: 10%;
}
.contact {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-container {
    margin: auto;
}