.proposal-form {
  height: calc(100vh - 92px);
  
}

/* background: linear-gradient(90deg, #cdffd8, #94b9ff); */

.form-container {
    height: calc(100vh - 92px);
}

.form-text {
  text-align: center;
  padding:0%;
  margin: 0%;
}

.upsert-form-header {
  text-align: center;
  color: #1b263b;
}

.upsert-form-header h1 {
  margin-block: 0;
}

.upsert-form {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  min-width: 160px;
  width: 30%;
}

.form-field {
  /* display: flex;
  flex-direction: column;
  gap: 4px; */
}

.form-field label {
  font-size: 20px;
  color: #777777;
}

.form-field input,
select,
textarea {
  padding: 8px;
  font-size: 18px;
  border-radius: 4px;
  border: 2px solid #1b263b;
  outline: none;
}

.form-field input:focus, .text-area:focus{
    background-color: #fafafc;
}
.form-field input, .text-area{
    background-color:#283a5a1e; ;
}


.submit-button {
  margin: auto;
  width: max-content;
  font-size: 20px;
  padding: 12px 36px;
  background-color: #292e74;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.submit-button:hover {
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .upsert-form {
    width: 75%;
  }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* padding-bottom: 5%;
      padding-top: 10%; */
    /* height:fit-content; */
  }
  
  .grid-item {
    /* text-align: center; */
    border-color: black;
    /* Styling for grid items */
  }