.home {
  height: calc(100vh - 82px);
  background: scroll;
}

.home h4 {
  /* Need Css here for text align */
}

.home p {
  /* Need Css here for text align */
}
.buttons-container {
  display: flex;
  gap: 36px
}

#title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}

.home-button {
  display: inline-block;
  padding: 40px 80px;
  /* Aumenta los valores de padding para hacer los botones más grandes */
  border-radius: 5px;
  font-weight:bold;
  font-size: 24px;
  font-weight:bold;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(37, 150, 190); 
  border: none;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  transition: all 0.2s ease-in-out;
  margin-top: 60px;
}

.home-button:hover {
  background-color: #292e74;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1.1);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-item h1,
.grid-item h4 {
}

.grid-item img {
  
    width: 100%;
    height: 100%
}

.confirm-modal {
  /* display:flex;
      justify-content: space-evenly;
      align-items: flex-start; */
  height: fit-content;
  padding: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgba(119, 187, 223, 0.87);
  /* padding-left: 50px;
    padding-right: 50px; */
  z-index: 1000;
  top: 30%;
  left: 50%;
  width: fit-content;
}
