.Log-In {
  /* display:flex;
    justify-content: space-evenly;
    align-items: flex-start; */
  height: fit-content;
  padding: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgba(119, 187, 223, 0.87);
  /* padding-left: 50px;
  padding-right: 50px; */
  z-index: 1000;
  top: 30%;
  left: 50%;
  width: fit-content;
}

.email {
  background-color: rgba(240, 248, 255, 0.577);
  width: 200px;
  text-align: start;
  border: solid 2px black;
}
.email h4 {
  color: rgb(246, 247, 247);
 text-align: center;
}

.btn-log-in {
  display: inline-block;
  padding: 8px 8px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: #292e74;
  border: none;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  transition: all 0.2s ease-in-out;
  margin: auto;
}

.btn-log-in:hover {
  transform: scale(1.15);
}
