.data-table-container {
  margin: auto;
  width: 80%
}

.sc-ePzlA-D{
 border: 2px solid #292e74;
}

.rdt_TableHeadRow {
  background: #292e74 !important;
  color: white;
}

.rdt_TableRow {
  padding-block: 12px;
}