.home {
  height: calc(100vh - 64px);
  overflow: scroll;
  background: scroll;
  background-color: rgba(119, 187, 223, 0.498);
  /* padding-top: 5%; */
}

.home h4 {
  /* Need Css here for text align */
}

.home p {
  /* Need Css here for text align */
}
.buttons-container {
  padding-top: 10%;
  display: flex;
  justify-content: space-evenly;
}

#title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;

}

.home img {
  /* display: block;
  width: 85%;
  height: 100%;
  max-width: 85%;
  max-height: 100%;
  object-fit: cover; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  /* padding-bottom: 5%;
    padding-top: 10%; */
  /* height:fit-content; */
}

.grid-item img {
}
.grid-item h1,
.grid-item h4 {
}
