.home {
  height: calc(100vh - 108px);
  background: scroll;
}

.home h4 {
  /* Need Css here for text align */
}

.home p {
  /* Need Css here for text align */
}
.buttons-container {
  display: flex;
  justify-content: space-evenly;
}

#title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #4d52a5;
  border: none;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  transition: all 0.2s ease-in-out;
  margin-top: 60px;
}
.home-button:hover {
  background-color: #292e74;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1.10);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-item h1,
.grid-item h4 {
}

.grid-item img {
  width: 100%;
  height: 100%
}