.navbar {
  background: #292e74;
  color: white;
}

/* .navbar a {
  color: white;
} */

.logo {
  width: 56px;
  height: 56px;
}

.navbar-link,
.navbar-link > a {
  color: white !important;
  font-weight: bold !important;
  text-decoration: none;
}