.data-table-container {
  margin: auto;
  width: 80%;
  padding-bottom: 100px;
}

.rdt_Table {
  overflow: hidden;
  border-radius: 10px !important;
  border: 2px solid #292e74;
}

.rdt_TableHeadRow {
  background: #292e74 !important;
  color: white;
}

.rdt_TableRow {
  padding-block: 12px;
}

.reject {
  width: 80px;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #292e74;
  background-color: rgb(37, 150, 190);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.reject:hover {
  color: white;
  transform: scale(1.15);
  background-color: #bf3928;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
