.navbar {
    align-items: center;
    background: #1b263b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 16px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.navbar h1 {
    height: auto;
    margin: 0;
    font-size: 36px;
}

.navbar h1 span {
    font-weight: bold;
}

.navbar h1 a {
    color: white;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    font-family: var(--primary-font);
    font-size: 18px;
    padding: 0 25px;
}

.navbar ul li a {
    color: white;
    font-weight: 500;
    padding-bottom: 5px;
    text-decoration: none;
}

.navbar ul li a:hover {
    border-bottom: 2px solid;
}

@media (max-width: 768px) {
    .navbar {
        gap: 12px;
        flex-direction: column;
    }

    .navbar h1 {
        text-align: center;
    }
}